#new-book-button{
  display: flex;
  background-color: cornflowerblue;
  border:none;
  border-radius: 10px;
  min-width:200px;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  margin-bottom:30px;
  cursor: pointer;
  transition: 0.25s;
}

#new-book-button:hover{
  background-color: rgb(171, 200, 255);
}

#new-book-button:active{
  background-color: rgb(204, 221, 253);
}

.add-book-icon{
  max-height: 30px;
  position:absolute;
  left:32px;
}

.label{
  flex:1;
  padding-left: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  color:whitesmoke;
  font-size: larger;
}

body{
  background-color: aliceblue;
  margin:0;
}

.screen-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.span{
  position: absolute;
  right:15px;
  top:15px;
}

dialog{
  padding:50px;
  min-width:35vh;
  min-height:50vh;
  border:none;
  border-radius:20px;
  background-color: cornflowerblue;
  box-shadow: 5px 5px 10px lightgray;
}

dialog::backdrop{
  background-color: rgba(240, 248, 255, 0.3);
}

.label-and-input{
  display: flex;
  flex-direction: column;
}

.close-icon{
  position:absolute;
  right:25px;
  top:15px;
  cursor:pointer;
  font-size: 30px;
  color:aliceblue;
}

.close-icon:hover{
  color:rgb(192, 207, 217);
}

.text-input{
  border:1px solid aliceblue;
  border-radius: 3px;
  background-color: rgb(128, 166, 235);
  min-height:20px;
  caret-color:aliceblue;
  accent-color:rgb(128, 166, 235);
}

.text-input:focus{
  outline: none;
  border: 1px solid rgb(60, 113, 213)
}
#read-status{
  margin-top:20px;
  margin-bottom:5px;
}

label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  margin-bottom: 5px;
  margin-top:20px;
  color:aliceblue;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:aliceblue;
  margin-bottom:10px;
}

#add-button{
  margin-top:30px;
  min-width:200px;
  min-height:30px;
  color:aliceblue;
  background-color: rgb(100, 149, 237);
  border:1px solid aliceblue;
  border-radius:5px;
  transition:0.2s;
}

#add-button:hover{
  cursor: pointer;
  background-color:rgb(128, 166, 235);
}

#add-button:active{
  border:1px solid rgb(60, 113, 213);
  transition:0.1s;
}


input[type="checkbox"]{
  accent-color:rgb(128, 166, 235);
}

.read-section{
  display: flex;
  gap:25px;
}

select{
  height: 20px;
  color:aliceblue;
}

.heading{
  color:cornflowerblue;
  margin:40px;
}

hr{
  width:95vw;
  border:none;
  height:1px;
  background-color: cornflowerblue;
  margin-bottom:40px;
}

#book-display{
  display:grid;

}