button{
  display: flex;
  background-color: cornflowerblue;
  border:none;
  border-radius: 10px;
  min-width:200px;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  position: absolute;
  margin-bottom:30px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover{
  background-color: rgb(171, 200, 255);
}

button:active{
  background-color: rgb(204, 221, 253);
}

.add-book-icon{
  max-height: 30px;
  position:absolute;
  left:32px;
}

.label{
  flex:1;
  padding-left: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  color:whitesmoke;
  font-size: larger;
}

body{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: aliceblue;
}